.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  padding-top: 64px; /* Height of the header */
  padding-bottom: 64px; /* Height of the footer */
}